.wrapper {
   padding: 230px 15px 336px;
   background: url(../../../../static/images/WelcomeDesktop.png) rgba(0, 0, 0, 0.65) no-repeat center bottom / cover;
   background-blend-mode: multiply;
}

.line {
   width: 300px;
   height: 1px;
   background-color: #fff;
   margin: 20px auto 0;
}

.sign {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding-top: 20px;

   >img {
      height: 30px;
      width: 30px;
   }

   >p {
      color: #fff;
      font-size: 22px;

      >a {
         font-weight: 500;
         color: #fff;
         text-decoration: underline;

         &:hover {
            color: #ff8400;
         }

         &:active {
            color: #ef5350;
         }
      }
   }
}