.wrapper {
   background-color: #ebd6a6;
   box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.2);
   border-radius: 10px;

   .stats {
      display: flex;
      gap: 30px;
      padding: 30px 35px 20px;

      &__item {
         display: flex;
         flex-direction: column;
         gap: 10px;
         align-items: center;

         img {
            height: 50px;
            width: 50px;
         }

         p {
            color: rgb(59, 59, 59);
            font-family: "Cookie", cursive;
            font-size: 42px;
         }
      }
   }
}