.desc {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;

   p {
      font-size: 18px;
      padding: 10px 0;
   }

   &__antropo {
      display: flex;
      justify-content: space-between;
   }

   &__types {
      display: flex;
      align-items: center;
      gap: 30px;

      p {
         width: 150px;
         text-align: center;
         border-radius: 5px;
      }

      .grass {
         background-color: #9bcc50;
      }

      .poison {
         background-color: #bfff00;
      }

      .fire {
         color: #fff;
         background-color: #fd7d24;
      }

      .flying {
         color: #fff;
         background-color: #8bdeff;
      }

      .water {
         color: #fff;
         background-color: #00a2ff;
      }

      .bug {
         color: #fff;
         background-color: #4e7424;
      }

      .normal {
         background-color: #a4acaf;
      }

      .electric {
         background-color: #eed535;
      }

      .ground {
         background-color: #bdad6b;
      }

      .fairy {
         background-color: #fdb9e9;
      }

      .fighting {
         color: #fff;
         background-color: #d66b6b;
      }

      .psychic {
         color: #fff;
         background-color: #ba55d3;
      }

      .rock {
         color: #fff;
         background-color: #644e4e;
      }

      .steel {
         color: #fff;
         background-color: #708090;
      }

      .ice {
         background-color: #b1feff;
      }

      .ghost {
         color: #fff;
         background-color: #7b62a3;
      }

      .dragon {
         color: #fff;
         background-color: #dc143c;
      }

      .dark {
         color: #fff;
         background-color: #23214b;
      }
   }
}