.wrapper {
   background-color: #ffe9b7;
   padding: 15px;
}

.container {
   width: 1000px;
   margin: 0 auto;
}

.loading {
   padding: 210px 0 310px;
}

.errors {
   display: flex;
   justify-content: center;
   font-size: 18px;
   color: red;
   padding: 245px 0 345px;
}