.form {
   width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: lightslategrey;
   border-radius: 10px;
   color: #fff;
   gap: 5px;
   padding: 20px;
   margin: 0 auto;

   input {
      border: 2px solid #fff;
      border-radius: 5px;
      padding: 5px 10px;

      &:focus {
         border: 2px solid darkorange;
      }
   }

   &__field {
      display: flex;
      flex-direction: column;
      gap: 3px;
   }

   &__checkbox {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px 0;
   }

   &__submit {
      width: 130px;
      font-size: 20px;
      background-color: darkorange;
      color: #fff;
      border: 2px solid darkorange;
      border-radius: 5px;
      padding: 5px 0;
      margin-top: 5px;

      &:hover {
         background-color: #fff;
         color: darkorange;
      }

      &:active {
         color: lightslategrey;
         border: 2px solid #fff;
      }
   }
}