.wrapper {
   background-color: #000;
   color: #fff;
   padding: 15px;
   margin: 0 auto;

   .container {
      max-width: 1100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
   }

   section {
      padding-top: 70px;

      &:first-of-type {
         padding-top: 20px;
      }
   }

   h2 {
      font-size: 32px;
      line-height: 70px;
      text-transform: uppercase;
   }

   p,
   a {
      font-size: 22px;
      line-height: 30px;
   }

   strong {
      font-size: 26px;
      color: #ef5350;
   }
}

.who {
   &__content {
      display: flex;
      align-items: center;
      gap: 50px;

      &__image {
         background-color: rgb(0, 0, 0);

         img {
            width: 600px;
         }
      }

      p {
         text-align: center;
         padding: 0 30px 0 0;
      }
   }
}

.total {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;

   &__images {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px 0;
      padding: 50px 0;

      img {
         width: 170px;
         margin: 0 auto;
      }
   }

   &__text {
      display: flex;
      flex-direction: column;
      gap: 20px 0;

      p {
         width: 55%;
      }

      p:last-of-type {
         align-self: flex-end;
      }
   }
}

.battles {
   display: flex;
   flex-direction: column;
   align-items: center;

   &__images {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;

      img:first-of-type {
         width: 280px;
         padding: 0 0 0 80px;
      }

      img:last-of-type {
         width: 280px;
      }
   }

   &__text {
      max-width: 1000px;
      display: flex;
      gap: 0 100px;
      padding: 40px 0 0 0;

      p {
         padding: 10px 0;
      }

      p:first-of-type {
         border-bottom: 1px solid #fff;
      }

      p:last-of-type {
         text-align: right;
         border-top: 1px solid #fff;
      }
   }

   &__note {
      max-width: 620px;
      text-align: center;
      padding: 50px 0;
      margin: 0 auto;
   }
}

.back {
   background-color: #000;

   img {
      width: 100%;
   }
}

.trainers {
   max-width: 1000px;
   text-align: center;
   padding: 0 0 50px;
}

.life {
   width: 100%;
   display: flex;
   justify-content: space-between;

   &__text {
      max-width: 410px;
      display: flex;
      text-align: center;
      flex-direction: column;
      gap: 25px 0;

      p::before {
         content: "";
         display: flex;
         width: 50%;
         height: 1px;
         background: #fff;
         margin: 0 auto 20px;
      }
   }

   &__image {
      img {
         width: 600px;
      }
   }
}

.friends {
   width: 100%;
   text-align: center;

   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;

      img {
         width: 600px;
      }

      div {
         max-width: 420px;
         display: flex;
         flex-direction: column;
         gap: 30px 0;
      }
   }
}

.last {
   text-align: center;
   padding: 0 0 35px;

   a {
      font-weight: 500;
      color: darkorange;
      text-decoration: underline;

      &:active {
         color: #ef5350;
      }
   }
}