.wrapper {
   display: flex;
   justify-content: space-around;
   background-color: rgb(0, 0, 0);
}

.sign {
   display: flex;
   justify-content: space-between;
   border-radius: 10px;
   gap: 10px;
}

.navLink {
   text-align: center;
   font-weight: 700;
   font-size: 20px;
   color: #fff;
   padding: 30px;
   transition: all 0.2s ease;

   &:hover {
      background-color: rgb(33, 33, 33);
   }

   &:active {
      background-color: rgb(255, 111, 0);
   }
}

.icons {
   display: flex;
}