.wrapper {
   padding: 150px 15px 172.4px;
   background: url(../../../../static/images/WelcomeDesktop.png) rgba(0, 0, 0, 0.65) no-repeat center bottom / cover;
   background-blend-mode: multiply;
}

.container {
   padding: 0 15px 15px;
}

.loading {
   padding: 83.3px 0 150.3px;
}

.errors {
   height: 120px;

   .requestError {
      font-size: 20px;
      text-align: center;
      color: #C83B3B;
      padding: 10px 0;

      &::first-letter {
         text-transform: uppercase;
      }
   }
}