.wrapper {
   padding: 154px 15px 182.4px;
   background: url(../../../../static/images/WelcomeDesktop.png) rgba(0, 0, 0, 0.65) no-repeat center bottom / cover;
   background-blend-mode: multiply;
}

.container {
   padding: 0 15px 15px;
}

.loading {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 33.3px 0 200.3px;
}

.errors {
   height: 120px;

   .requestError {
      font-size: 20px;
      text-align: center;
      color: #C83B3B;
      padding: 10px 0;

      &::first-letter {
         text-transform: uppercase;
      }
   }
}