.counter {
   height: 32.6px;
   width: 104px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3px;
   border: 1px solid #e5e5e5;
   border-radius: 4px;

   >button {
      height: 25px;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 22px;
      width: 25px;
      padding-bottom: 5px;
   }
}